<script src="~/Scripts/Controller/DepartmentCtrl/DepartmentCtrl.js"></script>
<div ng-controller="DepartmentCtrl">
    <form class="form-horizontal" name="myForm" novalidate>
        <h3>Add Department</h3>
        <div class="form-group">
            <label for="deptname" class="col-sm-5 control-label">Department Name:</label>
            <div class="col-sm-7">
                <input type="text" name="deptname" class="form-control" ng-model="department.DeptName" placeholder="Department Name" ng-pattern="/^[a-zA-Z ]*$/" required>
                <span style="color:red" ng-show="myForm.deptname.$dirty && myForm.deptname.$invalid">
                    <span ng-show="myForm.deptname.$error.required">Department name is required</span>
                    <span ng-show="myForm.deptname.$error.pattern">Invalid Department Name</span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="advisorfname" class="col-sm-5 control-label">Advisor FirstName:</label>
            <div class="col-sm-7">
                <input type="text" name="advisorfname" class="form-control" ng-model="department.AdvisorFName" placeholder="Advisor First Name" ng-pattern="/^[a-zA-Z ]*$/" required>
                <span style="color:red" ng-show="myForm.advisorfname.$dirty && myForm.advisorfname.$invalid">
                    <span ng-show="myForm.advisorfname.$error.required">Advisor First Name is required</span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="advisorlname" class="col-sm-5 control-label">Advisor LastName:</label>
            <div class="col-sm-7">
                <input type="text" name="advisorlname" class="form-control" ng-model="department.AdvisorLName" placeholder="Advisor Last Name" ng-pattern="/^[a-zA-Z ]*$/" required>
                <span style="color:red" ng-show="myForm.advisorlname.$dirty && myForm.advisorlname.$invalid">
                    <span ng-show="myForm.advisorlname.$error.required">Advisor Last Name is required</span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-5 control-label">Email:</label>
            <div class="col-sm-7">
                <input type="email" class="form-control" name="input" ng-model="department.Email" placeholder="Email" required>
                <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                    <span ng-show="myForm.email.$error.required">Email is required</span>
                    <span ng-show="myForm.email.$error.email">Invalid Email</span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="pnumber" class="col-sm-5 control-label">Contact Number:</label>
            <div class="col-sm-7">
                <input type="text" name="pnumber" class="form-control" ng-pattern="/^[(]{0,1}[0-9]{3}[)]{0,1}[-s.]{0,1}[0-9]{3}[-s.]{0,1}[0-9]{4}$/" ng-model="department.ContactNo" placeholder="Contact Number" ng-minlength="12" ng-maxlength="12" required>
                <span style="color:red" ng-show="myForm.pnumber.$dirty && myForm.pnumber.$invalid">
                    <span ng-show="myForm.pnumber.$error.required">Advisor Phone Number is required</span>
                    <span ng-show="myForm.pnumber.$error.pattern || myForm.pnumber.$error.minlength || myForm.pnumber.$error.maxlength">Invalid Phone Number(xxx-xxx-)</span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="pnumberxtn" class="col-sm-5 control-label">Contact Number Xtn:</label>
            <div class="col-sm-7">
                <input type="text" name="pnumberxtn" class="form-control" ng-pattern="/^[0-9]+$/" ng-model="department.ContactNoXtn" placeholder="Contact Number Xtn" ng-maxlength="5" required>
                <span style="color:red" ng-show="myForm.pnumberxtn.$dirty && myForm.pnumberxtn.$invalid">
                    <span ng-show="myForm.pnumberxtn.$error.required">Advisor Phone Number Xtn is required</span>
                    <span ng-show="myForm.pnumberxtn.$error.pattern || myForm.pnumberxtn.$error.minlength || myForm.pnumberxtn.$error.maxlength">Invalid Phone Number Extention</span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="campus" class="col-sm-5 control-label">Campuses:</label>
            <div class="col-sm-7">
                <select ng-model="campus.name"
                        ng-options="campus.name for campus.CampusName in campuses">
                    {{campus.name}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-7">
                <input type="submit" ng-show="addSt" ng-click="Create(department)" class="btn btn-success" value="Submit" />
                <input type="submit" ng-show="updateSt" ng-click="Update(department)" class="btn btn-warning" value="Update" />
                <input type="submit" ng-show="clearSt" ng-click="Clear()" class="btn btn-default" value="Create New" />
            </div>
        </div>
        <div class="col-lg-12">
            <h3>Department Details</h3>
            <table class="table table-striped">
                <tr>
                    <th>S.No</th>
                    <th>Campus Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Provience</th>
                    <th>Postal Code</th>
                    <th>Contact Number</th>
                    <th>Actions</th>
                </tr>
                <tr ng-repeat="department in DepartmentData"></tr>
            </table>
        </div>
    </form>
</div>

